Home Power Meter.json
[{"id":"1868a4fd.27c483","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"12208d07.27396b","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094ce","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094ce","edited":true},"page-titlebar-backgroundColor":{"value":"#0094ce","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"YYYY/MM/DD","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9dd18caa.90e2b8","type":"ui_tab","z":"","name":"Power Meter","icon":"dashboard","order":1},{"id":"d3b920b.8291be","type":"modbus-client","z":"","name":"192.168.50.240","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.50.240","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectTimeout":2000},{"id":"d4f15574.72e3c","type":"ui_group","z":"","name":"Power Usage","tab":"9dd18caa.90e2b8","order":1,"disp":true,"width":"7","collapse":false},{"id":"4c70f70a.342308","type":"ui_group","z":"","name":"Average","tab":"9dd18caa.90e2b8","order":2,"disp":true,"width":"4","collapse":false},{"id":"c163831c.7386a","type":"ui_tab","z":"","name":"Power Meter Detail","icon":"dashboard","order":2},{"id":"efe6c8ca.770ef8","type":"ui_group","z":"","name":"Voltage","tab":"c163831c.7386a","order":1,"disp":true,"width":"3","collapse":false},{"id":"a31ab827.99c75","type":"ui_group","z":"","name":"Current","tab":"c163831c.7386a","order":2,"disp":true,"width":"3","collapse":false},{"id":"213007bc.aa0bc","type":"ui_group","z":"","name":"Power","tab":"c163831c.7386a","order":3,"disp":true,"width":"3","collapse":false},{"id":"d52951ff.7eb17","type":"ui_group","z":"","name":"Volt-ampere Reactive","tab":"c163831c.7386a","order":4,"disp":true,"width":"3","collapse":false},{"id":"d19845db.ceb13","type":"ui_group","z":"","name":"Apparent Power","tab":"c163831c.7386a","order":5,"disp":true,"width":"3","collapse":false},{"id":"fc57df40.665718","type":"ui_group","z":"","name":"Power Factor","tab":"c163831c.7386a","order":6,"disp":true,"width":"3","collapse":false},{"id":"3b00e96c.a71946","type":"ui_group","z":"","name":"Cumulative Value","tab":"c163831c.7386a","order":7,"disp":true,"width":"6","collapse":false},{"id":"1ad5cf03.814479","type":"ui_tab","z":"","name":"History","icon":"dashboard","order":3},{"id":"20a0c618.17bc42","type":"ui_group","z":"","name":"Group 1","tab":"1ad5cf03.814479","order":1,"disp":false,"width":"20","collapse":false},{"id":"ee4d4b38.d2f0f","type":"ui_gauge","z":"1868a4fd.27c483","name":"","group":"fc57df40.665718","order":5,"width":0,"height":0,"gtype":"gage","title":"Frequency","label":"Hz","format":"{{value| number:1}}","min":0,"max":"120","colors":["#bb443f","#00b500","#bb443f"],"seg1":"59","seg2":"61","x":1090.3093566894531,"y":716.381103515625,"wires":[]},{"id":"c1d45388.8ff828","type":"ui_gauge","z":"1868a4fd.27c483","name":"","group":"4c70f70a.342308","order":1,"width":0,"height":0,"gtype":"gage","title":"kW_tot","label":"kW","format":"{{value| number:3}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1089.0475463867188,"y":494.53565216064453,"wires":[]},{"id":"32047d64.a0df5a","type":"function","z":"1868a4fd.27c483","name":"PA33 float data converter","func":"var resultArray = [];\nfor(var i = 0; i < 37; i++){\n    resultArray.push({\"payload\": msg.payload[i].data});\n}\nresultArray.push({\"payload\": msg.array, \"timestamp\": msg.timestamp});\nreturn resultArray;","outputs":38,"noerr":0,"x":759.8808898925781,"y":402.36895751953125,"wires":[["18a85ccc.3e9e13"],["9a7ddd29.fe9c7"],["98fb1ace.f45a08"],["e6c5434e.2b2cd"],["deb6d00a.7d2b5"],["c9845352.b21bd8"],["fb58824d.10fe48"],["58d31d37.4c7574"],["b6112f74.e8c91"],["75a6b5c7.d1ea3c"],["5fe636e2.a919d8"],["3b211611.273952"],["a519983a.49d62"],["253f2813.3723e8"],["2ab81e33.8ce36a"],["7e497194.6e94f8"],["7ae1a13c.2580f"],["23470cd1.6765d4"],["f7287997.6477e"],["305222b4.0ddb66"],["9bcf6df.6be049"],["a0040838.f9bbb"],["49286c6c.c736c4"],["ab081797.256a7"],["595f5973.4d19f8"],["7e970769.7e5088"],["f590924a.ace72"],["589d2fed.062eb8","d9703e3a.b565e"],["fc95e725.b23228","4366792e.ad165"],["c1d45388.8ff828","cc2168da.97707"],["5d4587cb.8bb07"],["2c859283.252db6"],["18070350.91515d"],["fe6f6cbe.b6fcb","dfbc25b3.b169c8"],["4bb506df.d3d748"],["994ae234.a86038"],["ee4d4b38.d2f0f"],["ef45528d.3bbde8","833f7b37.923d9","2b8f4b44.042c84"]],"inputLabels":["modbus read data array"],"outputLabels":["V_a","I_a","kW_a","kvar_a","kVA_a","PF_a","kWh_a","kvarh_a","kVAh_a","V_b","I_b","kW_b","kvar_b","kVA_b","PF_b","kWh_b","kvarh_b","kVAh_b","V_c","I_c","kW_c","kvar_c","kVA_c","PF_c","kWh_c","kvarh_c","kVAh_c","V_avg","I_avg","kW_tot","kvar_tot","kVA_tot","PF_tot","kWh_tot","kvarh_tot","kVAh_tot","Frequency","array"]},{"id":"18a85ccc.3e9e13","type":"ui_gauge","z":"1868a4fd.27c483","name":"","group":"efe6c8ca.770ef8","order":2,"width":0,"height":0,"gtype":"gage","title":"V_a","label":"V","format":"{{value| number:1}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1048.0475769042969,"y":112.28563690185547,"wires":[]},{"id":"75a6b5c7.d1ea3c","type":"ui_gauge","z":"1868a4fd.27c483","name":"","group":"efe6c8ca.770ef8","order":3,"width":0,"height":0,"gtype":"gage","title":"V_b","label":"V","format":"{{value| number:1}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1063.5475769042969,"y":232.53563690185547,"wires":[]},{"id":"f7287997.6477e","type":"ui_gauge","z":"1868a4fd.27c483","name":"","group":"efe6c8ca.770ef8","order":4,"width":0,"height":0,"gtype":"gage","title":"V_c","label":"V","format":"{{value| number:1}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1063.5475769042969,"y":324.53563690185547,"wires":[]},{"id":"9a7ddd29.fe9c7","type":"ui_gauge","z":"1868a4fd.27c483","name":"","group":"a31ab827.99c75","order":3,"width":0,"height":0,"gtype":"gage","title":"I_a","label":"A","format":"{{value| number:2}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1056.0475769042969,"y":149.28563690185547,"wires":[]},{"id":"5fe636e2.a919d8","type":"ui_gauge","z":"1868a4fd.27c483","name":"","group":"a31ab827.99c75","order":5,"width":0,"height":0,"gtype":"gage","title":"I_b","label":"A","format":"{{value| number:2}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1059.5475769042969,"y":270.53563690185547,"wires":[]},{"id":"305222b4.0ddb66","type":"ui_gauge","z":"1868a4fd.27c483","name":"","group":"a31ab827.99c75","order":7,"width":0,"height":0,"gtype":"gage","title":"I_c","label":"A","format":"{{value| number:2}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1064.547607421875,"y":357.53565216064453,"wires":[]},{"id":"fe6f6cbe.b6fcb","type":"ui_text","z":"1868a4fd.27c483","group":"d4f15574.72e3c","order":1,"width":0,"height":0,"name":"","label":"kWh_tot","format":"{{msg.payload| number:5}}","layout":"row-spread","x":1095.0476684570312,"y":591.9999465942383,"wires":[]},{"id":"589d2fed.062eb8","type":"ui_gauge","z":"1868a4fd.27c483","name":"","group":"4c70f70a.342308","order":2,"width":0,"height":0,"gtype":"gage","title":"V_avg","label":"V","format":"{{value| number:1}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1077.047607421875,"y":424.8571243286133,"wires":[]},{"id":"fc95e725.b23228","type":"ui_gauge","z":"1868a4fd.27c483","name":"","group":"4c70f70a.342308","order":3,"width":0,"height":0,"gtype":"gage","title":"I_avg","label":"A","format":"{{value| number:2}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1073.6190795898438,"y":460.7141799926758,"wires":[]},{"id":"98fb1ace.f45a08","type":"ui_gauge","z":"1868a4fd.27c483","name":"","group":"213007bc.aa0bc","order":3,"width":0,"height":0,"gtype":"gage","title":"kW_a","label":"kW","format":"{{value| number:3}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1051.333251953125,"y":183.00000762939453,"wires":[]},{"id":"3b211611.273952","type":"ui_gauge","z":"1868a4fd.27c483","name":"","group":"213007bc.aa0bc","order":5,"width":0,"height":0,"gtype":"gage","title":"kW_b","label":"kW","format":"{{value| number:3}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1056.333251953125,"y":301.00000762939453,"wires":[]},{"id":"9bcf6df.6be049","type":"ui_gauge","z":"1868a4fd.27c483","name":"","group":"213007bc.aa0bc","order":7,"width":0,"height":0,"gtype":"gage","title":"kW_c","label":"kW","format":"{{value| number:3}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1069.333251953125,"y":387.00000762939453,"wires":[]},{"id":"d9703e3a.b565e","type":"ui_gauge","z":"1868a4fd.27c483","name":"","group":"efe6c8ca.770ef8","order":1,"width":0,"height":0,"gtype":"gage","title":"V_avg","label":"V","format":"{{value| number:1}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1224.333251953125,"y":427.00000762939453,"wires":[]},{"id":"4366792e.ad165","type":"ui_gauge","z":"1868a4fd.27c483","name":"","group":"a31ab827.99c75","order":1,"width":0,"height":0,"gtype":"gage","title":"I_avg","label":"A","format":"{{value| number:2}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1226.333251953125,"y":468.00000762939453,"wires":[]},{"id":"cc2168da.97707","type":"ui_gauge","z":"1868a4fd.27c483","name":"","group":"213007bc.aa0bc","order":1,"width":0,"height":0,"gtype":"gage","title":"kW_tot","label":"kW","format":"{{value| number:3}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1235.333251953125,"y":508.00000762939453,"wires":[]},{"id":"5d4587cb.8bb07","type":"ui_gauge","z":"1868a4fd.27c483","name":"","group":"d52951ff.7eb17","order":1,"width":0,"height":0,"gtype":"gage","title":"kvar_tot","label":"kvar","format":"{{value| number:3}}","min":0,"max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1246.333251953125,"y":557.0000076293945,"wires":[]},{"id":"e6c5434e.2b2cd","type":"ui_gauge","z":"1868a4fd.27c483","name":"","group":"d52951ff.7eb17","order":3,"width":0,"height":0,"gtype":"gage","title":"kvar_a","label":"kvar","format":"{{value| number:3}}","min":0,"max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1193.333251953125,"y":191.00000762939453,"wires":[]},{"id":"a519983a.49d62","type":"ui_gauge","z":"1868a4fd.27c483","name":"","group":"d52951ff.7eb17","order":5,"width":0,"height":0,"gtype":"gage","title":"kvar_b","label":"kvar","format":"{{value| number:3}}","min":0,"max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1201.333251953125,"y":296.00000762939453,"wires":[]},{"id":"a0040838.f9bbb","type":"ui_gauge","z":"1868a4fd.27c483","name":"","group":"d52951ff.7eb17","order":7,"width":0,"height":0,"gtype":"gage","title":"kvar_c","label":"kvar","format":"{{value| number:3}}","min":0,"max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1214.333251953125,"y":373.00000762939453,"wires":[]},{"id":"deb6d00a.7d2b5","type":"ui_gauge","z":"1868a4fd.27c483","name":"","group":"d19845db.ceb13","order":2,"width":0,"height":0,"gtype":"gage","title":"kVA_a","label":"kVA","format":"{{value| number:3}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1199.333251953125,"y":237.00000762939453,"wires":[]},{"id":"253f2813.3723e8","type":"ui_gauge","z":"1868a4fd.27c483","name":"","group":"d19845db.ceb13","order":3,"width":0,"height":0,"gtype":"gage","title":"kVA_b","label":"kVA","format":"{{value| number:3}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1213.333251953125,"y":332.00000762939453,"wires":[]},{"id":"49286c6c.c736c4","type":"ui_gauge","z":"1868a4fd.27c483","name":"","group":"d19845db.ceb13","order":4,"width":0,"height":0,"gtype":"gage","title":"kVA_c","label":"kVA","format":"{{value| number:3}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1214.333251953125,"y":404.00000762939453,"wires":[]},{"id":"2c859283.252db6","type":"ui_gauge","z":"1868a4fd.27c483","name":"","group":"d19845db.ceb13","order":1,"width":0,"height":0,"gtype":"gage","title":"kVA_tot","label":"kVA","format":"{{value| number:3}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1237.333251953125,"y":600.0000076293945,"wires":[]},{"id":"18070350.91515d","type":"ui_gauge","z":"1868a4fd.27c483","name":"","group":"fc57df40.665718","order":1,"width":0,"height":0,"gtype":"gage","title":"PF_tot","label":"","format":"{{value| number:2}}","min":"-1","max":"1","colors":["#ca3838","#e6e600","#00b500"],"seg1":"","seg2":"","x":1383.333251953125,"y":575.0000076293945,"wires":[]},{"id":"ab081797.256a7","type":"ui_gauge","z":"1868a4fd.27c483","name":"","group":"fc57df40.665718","order":4,"width":0,"height":0,"gtype":"gage","title":"PF_c","label":"","format":"{{value| number:2}}","min":"-1","max":"1","colors":["#ca3838","#e6e600","#00b500"],"seg1":"","seg2":"","x":1345.333251953125,"y":412.00000762939453,"wires":[]},{"id":"2ab81e33.8ce36a","type":"ui_gauge","z":"1868a4fd.27c483","name":"","group":"fc57df40.665718","order":3,"width":0,"height":0,"gtype":"gage","title":"PF_b","label":"","format":"{{value| number:2}}","min":"-1","max":"1","colors":["#ca3838","#e6e600","#00b500"],"seg1":"","seg2":"","x":1339.333251953125,"y":329.00000762939453,"wires":[]},{"id":"c9845352.b21bd8","type":"ui_gauge","z":"1868a4fd.27c483","name":"","group":"fc57df40.665718","order":2,"width":0,"height":0,"gtype":"gage","title":"PF_a","label":"","format":"{{value| number:2}}","min":"-1","max":"1","colors":["#ca3838","#e6e600","#00b500"],"seg1":"","seg2":"","x":1326.333251953125,"y":217.00000762939453,"wires":[]},{"id":"fb58824d.10fe48","type":"ui_text","z":"1868a4fd.27c483","group":"3b00e96c.a71946","order":2,"width":0,"height":0,"name":"","label":"kWh_a","format":"{{msg.payload| number:5}}","layout":"row-spread","x":1331.333251953125,"y":254.00000762939453,"wires":[]},{"id":"7e497194.6e94f8","type":"ui_text","z":"1868a4fd.27c483","group":"3b00e96c.a71946","order":3,"width":0,"height":0,"name":"","label":"kWh_b","format":"{{msg.payload| number:5}}","layout":"row-spread","x":1343.333251953125,"y":357.00000762939453,"wires":[]},{"id":"595f5973.4d19f8","type":"ui_text","z":"1868a4fd.27c483","group":"3b00e96c.a71946","order":4,"width":0,"height":0,"name":"","label":"kWh_c","format":"{{msg.payload| number:5}}","layout":"row-spread","x":1354.333251953125,"y":458.00000762939453,"wires":[]},{"id":"dfbc25b3.b169c8","type":"ui_text","z":"1868a4fd.27c483","group":"3b00e96c.a71946","order":1,"width":0,"height":0,"name":"","label":"kWh_tot","format":"{{msg.payload| number:5}}","layout":"row-spread","x":1257.333251953125,"y":643.0000076293945,"wires":[]},{"id":"4bb506df.d3d748","type":"ui_text","z":"1868a4fd.27c483","group":"3b00e96c.a71946","order":5,"width":0,"height":0,"name":"","label":"kvarh_tot","format":"{{msg.payload| number:5}}","layout":"row-spread","x":1254.333251953125,"y":675.0000076293945,"wires":[]},{"id":"58d31d37.4c7574","type":"ui_text","z":"1868a4fd.27c483","group":"3b00e96c.a71946","order":6,"width":0,"height":0,"name":"","label":"kvarh_a","format":"{{msg.payload| number:5}}","layout":"row-spread","x":1477.333251953125,"y":253.00000762939453,"wires":[]},{"id":"7ae1a13c.2580f","type":"ui_text","z":"1868a4fd.27c483","group":"3b00e96c.a71946","order":7,"width":0,"height":0,"name":"","label":"kvarh_b","format":"{{msg.payload| number:5}}","layout":"row-spread","x":1484.333251953125,"y":366.00000762939453,"wires":[]},{"id":"7e970769.7e5088","type":"ui_text","z":"1868a4fd.27c483","group":"3b00e96c.a71946","order":8,"width":0,"height":0,"name":"","label":"kvarh_c","format":"{{msg.payload| number:5}}","layout":"row-spread","x":1477.333251953125,"y":477.00000762939453,"wires":[]},{"id":"994ae234.a86038","type":"ui_text","z":"1868a4fd.27c483","group":"3b00e96c.a71946","order":9,"width":0,"height":0,"name":"","label":"kVAh_tot","format":"{{msg.payload| number:5}}","layout":"row-spread","x":1268.333251953125,"y":709.0000076293945,"wires":[]},{"id":"b6112f74.e8c91","type":"ui_text","z":"1868a4fd.27c483","group":"3b00e96c.a71946","order":10,"width":0,"height":0,"name":"","label":"kVAh_a","format":"{{msg.payload| number:5}}","layout":"row-spread","x":1481.333251953125,"y":292.00000762939453,"wires":[]},{"id":"23470cd1.6765d4","type":"ui_text","z":"1868a4fd.27c483","group":"3b00e96c.a71946","order":11,"width":0,"height":0,"name":"","label":"kVAh_b","format":"{{msg.payload| number:5}}","layout":"row-spread","x":1484.333251953125,"y":426.00000762939453,"wires":[]},{"id":"f590924a.ace72","type":"ui_text","z":"1868a4fd.27c483","group":"3b00e96c.a71946","order":12,"width":0,"height":0,"name":"","label":"kVAh_c","format":"{{msg.payload| number:5}}","layout":"row-spread","x":1493.333251953125,"y":530.0000076293945,"wires":[]},{"id":"27fd069.5db79fa","type":"function","z":"1868a4fd.27c483","name":"PA33 to float data array","func":"const dataName = [\"V_a\", \"I_a\", \"kW_a\", \"kvar_a\", \"kVA_a\", \"PF_a\", \"kWh_a\", \"kvarh_a\", \"kVAh_a\",\n                  \"V_b\", \"I_b\", \"kW_b\", \"kvar_b\", \"kVA_b\", \"PF_b\", \"kWh_b\", \"kvarh_b\", \"kVAh_b\",\n                  \"V_c\", \"I_c\", \"kW_c\", \"kvar_c\", \"kVA_c\", \"PF_c\", \"kWh_c\", \"kvarh_c\", \"kVAh_c\",\n                  \"V_avg\", \"I_avg\", \"kW_tot\", \"kvar_tot\", \"kVA_tot\", \"PF_tot\", \"kWh_tot\", \"kvarh_tot\", \"kVAh_tot\"];\nconst dataUnit = [\"V\", \"A\", \"kW\", \"kvar\", \"kVA\", \"\", \"kWh\", \"kvarh\", \"kVAh\",\n                  \"V\", \"A\", \"kW\", \"kvar\", \"kVA\", \"\", \"kWh\", \"kvarh\", \"kVAh\",\n                  \"V\", \"A\", \"kW\", \"kvar\", \"kVA\", \"\", \"kWh\", \"kvarh\", \"kVAh\",\n                  \"V\", \"A\", \"kW\", \"kvar\", \"kVA\", \"\", \"kWh\", \"kvarh\", \"kVAh\"];\nvar resultArray = [];\nfor(var i = 0; i < 36; i++){\n    resultArray.push({\"name\": dataName[i], \"unit\": dataUnit[i], \"data\": bytes2Float(msg.payload.buffer, i*4)});\n}\nmsg.array = resultArray;\nreturn msg;\n\nfunction bytes2Float(byteArray, from){\n    // Create a buffer\n    var buf = new ArrayBuffer(4);\n    // Create a data view of it\n    var view = new DataView(buf);\n    // set bytes\n    view.setUint8(0, byteArray[from+2]);\n    view.setUint8(1, byteArray[from+3]);\n    view.setUint8(2, byteArray[from+0]);\n    view.setUint8(3, byteArray[from+1]);\n    // Read the bits as a float; note that by doing this, we're implicitly\n    // converting it from a 32-bit float into JavaScript's native 64-bit double\n    return view.getFloat32(0);\n}","outputs":1,"noerr":0,"x":437,"y":227,"wires":[["307276d0.aaf942"]]},{"id":"307276d0.aaf942","type":"modbus-getter","z":"1868a4fd.27c483","name":"get frequency","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"6","quantity":"1","server":"d3b920b.8291be","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":489.1666259765625,"y":283.6666259765625,"wires":[["42f9be65.d6872"],[]]},{"id":"42f9be65.d6872","type":"function","z":"1868a4fd.27c483","name":"","func":"msg.array.push({\"name\":\"Frequency\", \"unit\":\"Hz\", \"data\":msg.payload[0]/10});\nmsg.payload = msg.array;\nreturn msg;\n","outputs":1,"noerr":0,"x":566.6665954589844,"y":335.33331298828125,"wires":[["32047d64.a0df5a"]]},{"id":"ef45528d.3bbde8","type":"debug","z":"1868a4fd.27c483","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1064.4999694824219,"y":759.5,"wires":[]},{"id":"486d420c.53782c","type":"modbus-getter","z":"1868a4fd.27c483","name":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"4352","quantity":"72","server":"d3b920b.8291be","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":355.5,"y":171.5,"wires":[[],["27fd069.5db79fa"]]},{"id":"35c98ec6.75d8b2","type":"inject","z":"1868a4fd.27c483","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"*/1 0-23 * * *","once":false,"onceDelay":0.1,"x":118.5,"y":62.25,"wires":[["216cbd2a.06875a"]]},{"id":"216cbd2a.06875a","type":"change","z":"1868a4fd.27c483","name":"","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":282.5,"y":118.75,"wires":[["486d420c.53782c"]]},{"id":"833f7b37.923d9","type":"debug","z":"1868a4fd.27c483","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"timestamp","x":1053.9999694824219,"y":797,"wires":[]},{"id":"6258744d.8c526c","type":"inject","z":"1868a4fd.27c483","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":123.5,"y":191.25,"wires":[["486d420c.53782c"]]},{"id":"2b8f4b44.042c84","type":"switch","z":"1868a4fd.27c483","name":"","property":"timestamp","propertyType":"msg","rules":[{"t":"istype","v":"undefined","vt":"undefined"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1047,"y":891.5,"wires":[[],["292d92e0.dc5ac6"]]},{"id":"292d92e0.dc5ac6","type":"function","z":"1868a4fd.27c483","name":"append timestamp and kWh/min","func":"msg.payload.unshift({\"name\": \"timestamp\", \"unit\": \"ms\", \"data\": msg.timestamp});\nvar lastTime = global.get(\"lastTime\");\nvar lastData = global.get(\"lastData\");\nif (lastTime){\n    var timeDiff = msg.timestamp-lastTime;\n    var dataDiff = msg.payload[34].data-lastData[34].data;\n    msg.payload.push({\"name\": \"kWh_per_min\", \"unit\": \"kWh\", \"data\": dataDiff});\n    global.set(\"lastTime\",msg.timestamp);\n    global.set(\"lastData\",msg.payload);\n    return msg;\n}\nelse{\n    global.set(\"lastTime\",msg.timestamp);\n    global.set(\"lastData\",msg.payload);\n    return;\n}","outputs":1,"noerr":0,"x":1259.375,"y":930.9375,"wires":[["8ba345f3.1eed6","e9c37454.be91f","7eb79cf7.66aabc"]]},{"id":"264cf3a8.395adc","type":"ui_gauge","z":"1868a4fd.27c483","name":"","group":"d4f15574.72e3c","order":2,"width":0,"height":0,"gtype":"gage","title":"kWh per Hour","label":"kWh/Hr.","format":"{{value|number:3}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1474.5,"y":1100.25,"wires":[]},{"id":"8ba345f3.1eed6","type":"change","z":"1868a4fd.27c483","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[38].data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1354.5,"y":999.75,"wires":[["4b82ac63.e5038c","ed4d6c27.333d08"]]},{"id":"4b82ac63.e5038c","type":"range","z":"1868a4fd.27c483","minin":"0","maxin":"1","minout":"0","maxout":"60","action":"scale","round":false,"property":"payload","name":"","x":1439.5,"y":1046.75,"wires":[["264cf3a8.395adc","eb2ad79c.af9678"]]},{"id":"e9c37454.be91f","type":"debug","z":"1868a4fd.27c483","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1511,"y":874,"wires":[]},{"id":"7eb79cf7.66aabc","type":"function","z":"1868a4fd.27c483","name":"store day data in global.dayData array","func":"var dayData = global.get(\"dayData\");\nif (dayData){\n    dayData.push(msg.payload);\n    while(dayData.length > (60*24+100)){\n        dayData.shift();\n    } \n} else {\n    global.set(\"dayData\",[]);\n    dayData.push(msg.payload);\n}\n// node.warn(dayData);\nreturn msg\n\n","outputs":1,"noerr":0,"x":1228.5,"y":1162.75,"wires":[["98f74744.a31e9","5371a562.a2c804"]]},{"id":"c531da83.b5e21","type":"ui_chart","z":"1868a4fd.27c483","name":"","group":"d4f15574.72e3c","order":3,"width":0,"height":0,"label":"kWh/hr","chartType":"line","legend":"false","xformat":"MM/DD HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"1540","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1346.5,"y":1314.75,"wires":[[],[]]},{"id":"98f74744.a31e9","type":"function","z":"1868a4fd.27c483","name":"create plot data","func":"//Documentation\n//https://github.com/node-red/node-red-dashboard/blob/master/Charts.md\n\nvar dayData = global.get(\"dayData\");\n// node.warn(dayData);\nvar historyStart = global.get(\"historyStart\");\nhistoryStart = Math.round(historyStart/100*dayData.length);\nvar historyEnd = global.get(\"historyEnd\");\nhistoryEnd = Math.round(historyEnd/100*dayData.length);\nvar plotData = [{\"series\": [\"kWh/hr\"],\"data\": [[]],\"labels\": [\"kWh/hr\"]}];\nfor(var i = historyStart; i < historyEnd; i++){\n    var time = dayData[i][0].data;\n    var data = dayData[i][38].data*60;\n    plotData[0].data[0].push({\"x\":time, \"y\": data});\n}\n// dayData.forEach((element)=>{\n//     // var date = new Date(element[0].data);\n//     // node.warn(date.toISOString());\n//     var data = element[38].data*60;\n//     plotData[0].data[0].push({\"x\":element[0].data, \"y\": data});\n// })\nreturn {\"payload\":plotData};\n\n","outputs":1,"noerr":0,"x":1257.5,"y":1254.75,"wires":[["c531da83.b5e21","b348e8d1.197498","20317a80.a55bfe"]]},{"id":"d10cdf36.bc5638","type":"inject","z":"1868a4fd.27c483","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":98.5,"y":1487.25,"wires":[["fd3f6924.735788"]]},{"id":"fd3f6924.735788","type":"function","z":"1868a4fd.27c483","name":"clear global.dayData array","func":"global.set(\"dayData\",[]);\nvar dayData = global.get(\"dayData\");\nreturn {\"payload\":dayData}","outputs":1,"noerr":0,"x":190,"y":1554,"wires":[["7e57e39.9068d9c","c25e138.b7b22f"]]},{"id":"b348e8d1.197498","type":"debug","z":"1868a4fd.27c483","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1493,"y":1248,"wires":[]},{"id":"5371a562.a2c804","type":"debug","z":"1868a4fd.27c483","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1512,"y":1155,"wires":[]},{"id":"ed4d6c27.333d08","type":"debug","z":"1868a4fd.27c483","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1578,"y":966,"wires":[]},{"id":"eb2ad79c.af9678","type":"debug","z":"1868a4fd.27c483","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1598,"y":1021,"wires":[]},{"id":"7e57e39.9068d9c","type":"debug","z":"1868a4fd.27c483","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":367.5,"y":1499.5,"wires":[]},{"id":"c25e138.b7b22f","type":"function","z":"1868a4fd.27c483","name":"clear global.lastTime and global.lastData","func":"global.set(\"lastTime\",undefined);\nglobal.set(\"lastData\",undefined);","outputs":1,"noerr":0,"x":316,"y":1626,"wires":[[]]},{"id":"20317a80.a55bfe","type":"ui_chart","z":"1868a4fd.27c483","name":"","group":"20a0c618.17bc42","order":0,"width":0,"height":0,"label":"kWh/hr","chartType":"line","legend":"false","xformat":"MM/DD HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"1540","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1346,"y":1352,"wires":[[],[]]},{"id":"40cbe87c.c801f","type":"inject","z":"1868a4fd.27c483","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":85,"y":1714,"wires":[["4d071a31.5b8c4c"]]},{"id":"4d071a31.5b8c4c","type":"function","z":"1868a4fd.27c483","name":"show global.dayData array","func":"var dayData = global.get(\"dayData\");\nreturn {\"payload\":dayData}","outputs":1,"noerr":0,"x":186.5,"y":1780.75,"wires":[["4d073828.9bbcd8"]]},{"id":"4d073828.9bbcd8","type":"debug","z":"1868a4fd.27c483","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":322,"y":1722.25,"wires":[]},{"id":"f91ab9c0.698b28","type":"inject","z":"1868a4fd.27c483","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"x":111,"y":1904,"wires":[["b1bb56f7.490928"]]},{"id":"b1bb56f7.490928","type":"delay","z":"1868a4fd.27c483","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":243.5,"y":1944,"wires":[["b1fbdc64.5b1f58"]]},{"id":"8a034eb2.510a7","type":"file","z":"1868a4fd.27c483","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","x":587.5,"y":2153,"wires":[]},{"id":"b1fbdc64.5b1f58","type":"function","z":"1868a4fd.27c483","name":"","func":"var dayData = global.get(\"dayData\");\nvar currentTime = msg.payload;\nvar yesterdayTime = currentTime - (1000*60*60*24);\nnode.warn(yesterdayTime);\nvar result = [];\nfor(var i = dayData.length-1; i>=0; i--){\n    if(Math.abs(dayData[i][0].data-yesterdayTime) < (10*1000)){\n        node.warn(dayData[i][0].data);\n        break;\n    }\n    result.unshift(dayData[i]);\n}\nnode.warn(result[0]);\nreturn {\"payload\": result, \"timestamp\": currentTime};","outputs":1,"noerr":0,"x":334.5,"y":1997,"wires":[["2248818a.1bd8a6","52673c4.f20d5c4","b069a053.69cd58"]]},{"id":"2248818a.1bd8a6","type":"debug","z":"1868a4fd.27c483","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":503.5,"y":1956,"wires":[]},{"id":"52673c4.f20d5c4","type":"json","z":"1868a4fd.27c483","name":"","property":"payload","action":"str","pretty":false,"x":403.5,"y":2068,"wires":[["3fb10e48.98277a"]]},{"id":"b069a053.69cd58","type":"function","z":"1868a4fd.27c483","name":"","func":"var data = msg.payload;\nvar result = \"\";\nvar firstLine = true;\ndata.forEach((eachTimeData)=>{\n    if(firstLine){\n        firstLine = false;\n    }else{\n        result += \"\\r\\n\";\n    }\n    var firstColumn = true;\n    eachTimeData.forEach((eachColumnData)=>{\n        if(firstColumn){\n            firstColumn = false;\n        }else{\n            result += \",\";\n        }\n        result += eachColumnData.data+\"\";\n    });\n});\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":333,"y":2272,"wires":[["6468800b.61fa28","2e3b6ce3.369f6c"]]},{"id":"3fb10e48.98277a","type":"template","z":"1868a4fd.27c483","name":"","field":"filename","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/home/pi/pa_history/{{timestamp}}.json","output":"str","x":481.5,"y":2112,"wires":[["8a034eb2.510a7"]]},{"id":"6468800b.61fa28","type":"debug","z":"1868a4fd.27c483","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":452,"y":2209,"wires":[]},{"id":"e4d5cc58.98d058","type":"file","z":"1868a4fd.27c483","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","x":535,"y":2351,"wires":[]},{"id":"2e3b6ce3.369f6c","type":"template","z":"1868a4fd.27c483","name":"","field":"filename","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/home/pi/pa_history/{{timestamp}}.csv","output":"str","x":428,"y":2315,"wires":[["e4d5cc58.98d058"]]},{"id":"51161f6e.5219d8","type":"ui_slider","z":"1868a4fd.27c483","name":"","label":"History Start","group":"20a0c618.17bc42","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"99","step":"1","x":472.5,"y":2492.75,"wires":[["579df276.850f6c"]]},{"id":"a8baeec2.fbca8","type":"ui_slider","z":"1868a4fd.27c483","name":"","label":"History End","group":"20a0c618.17bc42","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":"1","max":"100","step":"1","x":466,"y":2657,"wires":[["e10c9be7.bfa208"]]},{"id":"579df276.850f6c","type":"change","z":"1868a4fd.27c483","name":"","rules":[{"t":"set","p":"historyStart","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":611.5,"y":2541.75,"wires":[["c2a9a6af.ea4718","6eebfd41.ce73b4"]]},{"id":"e10c9be7.bfa208","type":"change","z":"1868a4fd.27c483","name":"","rules":[{"t":"set","p":"historyEnd","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":598,"y":2718,"wires":[["6bf5d0a1.5b9918","6eebfd41.ce73b4"]]},{"id":"a5999858.b424f","type":"change","z":"1868a4fd.27c483","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":343,"y":2441,"wires":[["51161f6e.5219d8"]]},{"id":"726b9274.528664","type":"change","z":"1868a4fd.27c483","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"100","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":333,"y":2604,"wires":[["a8baeec2.fbca8"]]},{"id":"c2a9a6af.ea4718","type":"function","z":"1868a4fd.27c483","name":"","func":"var historyStart = global.get(\"historyStart\");\nvar historyEnd = global.get(\"historyEnd\");\nif(historyStart >= historyEnd){\n    return {\"payload\": historyStart+1};\n}","outputs":1,"noerr":0,"x":784.5,"y":2582.75,"wires":[["a8baeec2.fbca8","6eebfd41.ce73b4"]]},{"id":"6bf5d0a1.5b9918","type":"function","z":"1868a4fd.27c483","name":"","func":"var historyStart = global.get(\"historyStart\");\nvar historyEnd = global.get(\"historyEnd\");\nif(historyEnd <= historyStart){\n    return {\"payload\": historyEnd-1};\n}","outputs":1,"noerr":0,"x":757,"y":2773,"wires":[["51161f6e.5219d8"]]},{"id":"6eebfd41.ce73b4","type":"delay","z":"1868a4fd.27c483","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":984.5,"y":2725.75,"wires":[["98f74744.a31e9"]]},{"id":"67421adc.8b22f4","type":"ui_button","z":"1868a4fd.27c483","name":"","group":"20a0c618.17bc42","order":0,"width":"0","height":"0","passthru":false,"label":"Reset Range","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":135.83331298828125,"y":2522.9169311523438,"wires":[["a5999858.b424f","726b9274.528664"]]}]